.index-img {
  max-width: 13%;
  margin-top: -3%;
  margin-bottom: -1%;
}

.video-featured {
  width: 100%;
  height: 25vw;
}

.img-block2 {
  display: block;
  margin: auto;
  width: 75%;
}
html,body {
	margin: 0;
	padding: 0;
}
.slider {
	width: 100%;
	margin: 2em auto;

}

.slider-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.main2.5 {
  padding: 0em 0 0em 0 ;
}

.privacy {
  margin:auto;
  max-width:75%;
}

.balloon {
  max-width: 5%
}

.miketitle {
  font-size: 5em;
}

.form-mobile {
  width: 100%;
  float: none;
}

.formfields {
  width: 200% !important;
  float: none;
}

.contact-one {
  display: block;
  float: left !important;
  width: 50%;
  text-align: left;
  padding-right: 1em;
}

.contact-two {
  display: block;
  float: right !important;
  width: 50%;
  text-align: left;
  padding-left: 1em;
}

@media screen and (max-width: 736px) {
  .slider {
  	width: 100%;
    margin: 2em auto;
  }
  .slider-wrapper {
    	width: 100%;
    	height: 100%;
    	position: relative;
  }
  .slide {
    width: 100%;
  	height: 50vh;
    display: block;
  }

  .balloon {
    max-width: 15%
  }

  .miketitle {
    font-size: 3em;
  }

  .form-mobile {
    width: 100%;
    float: none;
  }

  .formfields {
    width: 200% !important;
    float: none;
  }

  .contact-one {
    display: block;
    float: none;
    width: 100%;
  }

  .contact-two {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
  }
}

